@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
}

body {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    
    background-color: #7B0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fb0030'/%3E%3Cstop offset='1' stop-color='%23fb0030' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fb0030'/%3E%3Cstop offset='1' stop-color='%23fb0030' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff7bae'/%3E%3Cstop offset='1' stop-color='%23ff7bae' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237B0000'/%3E%3Cstop offset='1' stop-color='%237B0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF7BAE'/%3E%3Cstop offset='1' stop-color='%23FF7BAE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF7BAE'/%3E%3Cstop offset='1' stop-color='%23FF7BAE' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}

h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

label {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
}

input {
    text-align: center;
    border: chocolate solid 10px;
}

.swal2-confirm {
    background-color: #ba1a1a; 
    color: aliceblue; 
    border: none;
    padding: 0.6rem 1.8rem;

}

#settings {
    background: url('https://uxwing.com/wp-content/themes/uxwing/download/fruits-vegetables/tomato-icon.png') no-repeat center center;
    background-size: cover;
    padding: 1.2rem 1.25rem;
    margin-top: -6rem;
}

section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
}


.timer-section {
    margin: 2rem 0 0 0;
    background-color: #3c000079;
    color: aliceblue;

    border-radius: 0.5rem;
    box-shadow: 0 8px 32px 0 rgba(27, 0, 14, 0.169);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid #06001012;
}

.button-options {
    text-align: center;
}

button {
    margin: 1.2rem 0.6rem 0 0.6rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    font-family: "Roboto Mono", monospace;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: aliceblue;
}

#timer {
    font-size: 7rem;
    margin: 1.2rem 0 0 0;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

#stop, #reset, #timeOver{
    display: none;
}

#start, #stop, #reset, #timeOver {
    margin-bottom: 1rem;
}

#timeOver {
    margin: 0.9rem 0 0.4rem 0;
    text-align: center;
    font-size: 1.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    font-family: "Roboto Mono", monospace;
}

.quotes-section {
    margin: 3rem 0 0 0;
    background-color: aliceblue;
    color: #000000;

    border-radius: 0.5rem;
    box-shadow: 0 8px 32px 0 rgba(18, 0, 41, 0.297);
    border: 1px solid #06001012;
}

#quote {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.35rem;
}

#author {
    margin-top: 1rem;
    font-family: "Roboto Mono", monospace;
    font-size: 1.15rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-size: 1.15rem;
    color: aliceblue;
}

footer {
    font-family: "Roboto Mono", monospace;
    background-color: #3c000079;
    text-align: center;
    padding: 1.25rem;
    position: fixed; 
    bottom: 0;      
    left: 0;         
    width: 100%; 

    box-shadow: 0 8px 32px 0 rgba(27, 0, 14, 0.169);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid #06001012;
}

button:hover {
    transform: scale(1.08);

}

#settings:hover {
    transform: scale(1.2);
}